<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="https://google-maps-utility-library-v3.googlecode.com/svn-history/r360/trunk/markerclustererplus/src/markerclusterer.js"></script>
    <link href="assets/main.css" rel="stylesheet"/>
  </head>
  <body>
  <div id="map-canvas"></div>
  <div id="daterange">
    <a class="refresh_map" href="/">Show all properties</a>
    <br />
    <a class="refresh_map" href="/#nuisance">Show only those properties with more than 3 calls</a>
    <br />
    <span>Pick your date range: </span>
    <select class="presets">
      <option value="<%= DateTime.now.strftime('%Y%m%d') %>">Today</option>
      <option value='<%= 1.week.ago.strftime('%Y%m%d') %>'>This Week</option>
      <option value='<%= 1.month.ago.strftime('%Y%m%d') %>'>This Month</option>
      <option value='<%= 3.months.ago.strftime('%Y%m%d') %>'>Last 3 Months</option>
    </select>
    <button class="custom">Custom</button>
  </div>
  <div id="daterange" class="right-options">
    <div>
      <span>Pick your date range: </span>
      <select class="presets">
        <option value="<%= DateTime.now.strftime('%Y%m%d') %>">Today</option>
        <option value='<%= 1.week.ago.strftime('%Y%m%d') %>'>This Week</option>
        <option value='<%= 1.month.ago.strftime('%Y%m%d') %>'>This Month</option>
        <option value='<%= 3.months.ago.strftime('%Y%m%d') %>'>Last 3 Months</option>
      </select>
    </div>
    <div class="right">
      <button class="custom">Custom</button>
    </div>
  </div>
  <div id="customModal" class="right-options">
    <label><span>From: </span><input type="date" class="from"></input></label>
    <label><span>To: </span> <input type="date" class="to"></input></label>
    <div>
     <button id="dateRangeSubmit" class="submit">Submit</button>
    </div>
  </div>
  <div id="modernTechCouncil" class="right-options">
    <a href="http://alt236.org" target="_blank">
      <img src="assets/mtc.png"></img>
    </a>
  </div>
  <script src="assets/main.js" type="text/javascript"></script>
  </body>
</html>
